Options FollowSymLinks
<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /judobase
	RewriteRule ^favicon.ico$ resource/ico/favicon.ico [QSA,NC,L]
	RewriteRule ^css/(.+)$ resource/css/$1 [QSA,NC,L]
	RewriteRule ^font/(.+)$ resource/font/$1 [QSA,NC,L]
	RewriteRule ^img/(.+)$ resource/img/$1 [QSA,NC,L]
	RewriteRule ^ico/(.+)$ resource/ico/$1 [QSA,NC,L]
	RewriteRule ^fonts/(.+)$ resource/fonts/$1 [QSA,NC,L]
	RewriteRule ^js/(.+)$ resource/js/$1 [QSA,NC,L]
	RewriteRule ^swf/(.+)$ resource/swf/$1 [QSA,NC,L]
	RewriteRule ^sound/(.+)$ resource/sound/$1 [QSA,NC,L]

	RewriteRule ^avartar/(.+)$ data/avartar/$1 [QSA,NC,L]
	RewriteRule ^pavartar/(.+)$ data/pavartar/$1 [QSA,NC,L]
	RewriteRule ^attach/(.+)/(.+)$ data/attach/$1 [QSA,NC,L]
	RewriteRule ^attach/(.+)$ data/attach/$1 [QSA,NC,L]
	RewriteRule ^data/avartar/$ img/unknown.png [QSA,NC,L]
	RewriteRule ^prescription/(.+)/(.+)/(.+)/(.+)$ data/prescription/$1/$2/$3/$4 [QSA,NC,L]
	RewriteRule ^medinfopdf/(.*)$ api/medinfo/download_medinfo [QSA,NC,L]
	RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule ^data/avartar/(.*)$ img/unknown.png [QSA,NC,L]
	RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule ^data/pavartar/(.*)$ img/punknown.png [QSA,NC,L]

	RewriteRule ^$ index.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule .* index.php [QSA,NC,L]
	RewriteRule ^backend(.*)$ index.php [QSA,NC,L]

	RewriteRule ^(.+)/(.+)\.php - [F]
	RewriteRule ^config.inc - [F]
</IfModule>
